a
{
    border-color: #0000ff !important;
    border-style: dotted !important;
    border-width: 0 0 1px 0 !important;
    color: #0000ff !important;
    text-decoration: none !important;
}
a:visited
{
    border-color: #660099 !important;
    color: #660099 !important;
}
a:focus, a:hover
{
    border-color: #ff0000 !important;
    border-style: solid !important;
    color: #ff0000 !important;
}

a, table.sortable th, .pivot
{
    cursor: pointer !important;
}

body
{
    margin: 10px !important;
}

body, dl, h2, h3, html, ol, pre, table, td p, #tools li, ul.commands
{
    padding: 0 !important;
}

body, html
{
    background-color: #ffffff !important;
    color: #000000 !important;
}

body, p
{
    line-height: 1.5 !important;
}

body, td, th
{
    font-family: sans-serif !important;
}

h1
{
    background-color: #000000 !important;
    background-image: url("chrome://webdeveloper/content/images/logo/large.png") !important;
    background-position: 10px 50% !important;
    background-repeat: no-repeat !important;
    color: #ffffff !important;
    font-size: 150% !important;
    letter-spacing: 1px !important;
    margin: -10px -10px 1em -10px !important;
    padding: 1em 1em 1em 50px !important;
    word-spacing: 1px !important;
}

h1, h2, th, tr.expanded
{
    font-weight: bold !important;
}

h2
{
    font-size: 150% !important;
}

h2, h2 a, h2 a:active, h2 a:focus, h2 a:visited, h3, h3 a, h3 a:active, h3 a:focus, h3 a:visited
{
    border-color: #000000 !important;
    color: #000000 !important;
}

h2, hr, pre
{
    margin: 1em 0 !important;
}

h3
{
    font-size: 125% !important;
    margin: 0.5em 0 0 0 !important;
}

hr
{
    background-color: #000000 !important;
    border-style: none !important;
    color: #000000 !important;
    height: 1px !important;
}

html, ul.commands li
{
    margin: 0 !important;
}

ol
{
    margin: 1em 1em 1em 2.5em !important;
}

p
{
    margin: 0 0 0.5em 0 !important;
}

pre
{
    font-family: monospace !important;
    line-height: 1 !important;
}

table
{
    border-collapse: collapse !important;
    margin: 0 0 1em 0 !important;
    width: 100% !important;
}

td, th
{
    border: 1px solid #000000 !important;
    text-align: left !important;
    vertical-align: top !important;
}

td, th, #tools, p.loading
{
    padding: 0.5em !important;
}

th
{
    background-color: #000000 !important;
    color: #ffffff !important;
    min-width: 10em !important;
    text-transform: uppercase !important;
    white-space: nowrap !important;
    width: 10em !important;
}

#tools
{
    background-color: #eeeeee !important;
    border: 1px solid #cccccc !important;
    margin: 0.5em 0 !important;
}

#tools, ul.commands
{
    list-style: none !important;
}

#tools li
{
    display: inline !important;
    margin: 0 1em !important;
}

#tools a
{
    padding-left: 15px !important;
}

#tools a, th.sort-ascending, th.sort-descending, ul.commands li, .pivot
{
    background-repeat: no-repeat !important;
}

#tools a, ul.commands li
{
    background-position: center left !important;
}

#webdeveloper-generated-tool-collapse-all, span.expanded, tr.expanded td.pivot
{
    background-image: url(chrome://webdeveloper/content/images/content/expanded.png) !important;
}

#webdeveloper-generated-tool-expand-all, span.collapsed, tr.collapsed td.pivot
{
    background-image: url(chrome://webdeveloper/content/images/content/collapsed.png) !important;
}

div.collapsed, tr.hidden
{
    display: none !important;
}

p.loading
{
    background-color: #ffff99 !important;
    border: 2px solid #ffcc66 !important;
    float: left !important;
    font-size: 150% !important;
    font-weight: bold !important;
}

p.loading img
{
    margin-right: 0.5em !important;
}

span.pivot
{
    margin-right: 10px !important;
    padding-left: 10px !important;
}

td.shaded, tr.shaded
{
    background-color: #eeeeee !important;
}

th.sort-ascending
{
    background-image: url(chrome://webdeveloper/content/images/content/arrow_down.png) !important;
}

th.sort-ascending, th.sort-descending
{
    background-position: 95% 50% !important;
}

th.sort-descending
{
    background-image: url(chrome://webdeveloper/content/images/content/arrow_up.png) !important;
}

ul.commands
{
    margin: 0 0 1em 0 !important;
}

ul.commands li
{
    padding: 0.25em 0 0.25em 20px !important;
}

ul.commands li.delete
{
    background-image: url(chrome://webdeveloper/content/images/content/delete.png) !important;
}

ul.commands li.edit
{
    background-image: url(chrome://webdeveloper/content/images/content/edit.png) !important;
}

.pivot
{
    background-position: center center !important;
    width: 10px !important;
}

@media print
{
    h1
    {
        background-image: none !important;
        padding: 1em !important;
    }

    h1, th
    {
        color: #000000 !important;
    }

    h1, th, td.shaded, tr.shaded
    {
        background-color: #ffffff !important;
    }

    #tools, span.pivot
    {
        display: none !important;
    }

    div.collapsed
    {
        display: block !important;
    }

    tr.hidden
    {
        display: table-row !important;
    }
}