

.current {
	font-weight: bold;
	font-size: 14px;
}



.commento_admin_header {
	margin: 20px 0 0 0;
}

.commento_admin_header img {
	float: left;
	margin: 0 10px 20px 10px;
}


.commento_admin_header h2{
	font-size:24px;
	margin: 4px 0 0 0;
	float: left;
}

.commento_admin_menu {
	border-top: 3px solid #ddd;
	padding: 10px 0 0 0;
}


.work_space {
	padding: 10px;
	margin: 10px 0 0 0;
	border-top: 2px solid #ddd;
	background: #fff;
}

ul.commento_list {
	margin: 10px 0 10px 0;
	list-style: none;
}

ul.commento_list li {
	display: block;
	padding: 5px;
}

ul.commento_list li:hover {
	background: #f4f4f4;
}

ul.commento_list li span {
	display: block;
	float: left;
}

ul.commento_list li div {
	display: block;
	float: right;
}



/* comments list */

.comment {
	/* Syling the comments and the comment form container */
	width:100%;
	position:relative;
	background-color:#fcfcfc;
	border:1px solid #ddd;
	color:#888;
	margin-bottom:25px;
}

.comment .avatar {
	margin: 10px 0 0 10px;
	float: left;
	width: 50px;
	height: 50px;
}

.comment .name {
	margin: 22px 0 0 10px;
	float: left;
	font-size: 16px;
	font-weight: bold;
}

.comment div.body {
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
	padding: 10px;
	font-size: 12px;
	line-height:1.2;
	margin: 10px;
	clear: left;
}

.comment .date {
	margin: 10px 0 0 10px;
	position: absolute;
	top: -2px;
	left: 60px;
}

.comment .btn_tools {
	display: block;
	height: 30px;
	margin: 2px 0 10px 20px;
}

.comment .karma {
	display: block;
	margin: 5px 0 0 20px;
}

.comment .karma:before {
	content: "Karma: ";
	font-weight: bold;
}

.comment .says {
	display: block;
	position: absolute;
	top: 42px;
	left: 70px;
}

.comment .admin_tools {
	position: absolute;
	bottom: 7px;
	right: 10px;
}


.its_a_reply {
	width: 90%;
	margin-left: 10%;
}

.not_accepted_comment {
	border-color: #ffbbbb;
	background-color: #fff8f8;
}

.form_remove_comm,
.form_approve_comm {
	display: inline;
	margin: 0 0 0 5px;
}


#dialog-remove {
	display: none;
}


