

/* NOW IT'S COMMENTS */

#commento_container {
	position: relative;
	margin: 0 auto;
	width: 600px;	/* Set with of container and everything else will adjust using percentage */
}


#comments_header{
	width: 300px;
	height:64px;
	background: transparent url("../img/skin1/comment_icon.png") no-repeat;
}

#comments_header .show_commentos_link, #comments_header .hide_commentos_link {
	font-size:20px;
	color: #555555;
	margin:20px 0 0 70px;
	float:left;
}




.comment,
#addCommentContainer{
	padding:15px;
	width:94%;
	position:relative;
	background-color:#fcfcfc;
	border:1px solid white;
	color:#888;
	margin-bottom:25px;
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

	-moz-box-shadow:2px 2px 0 #c2c2c2;
	-webkit-box-shadow:2px 2px 0 #c2c2c2;
	box-shadow:2px 2px 1px #c2c2c2;
}

.its_a_reply {
	width:80%;
	margin-left: 14%;
}

.its_a_reply:before {
	/* let's insert something before every reply, so we can set an image background, for the reply effect */
	content: "";
	display: block;
	width: 40px;
	height: 120%;
	position: absolute;
	margin: -35px 0 0 -70px;
	background: transparent url("../img/skin1/dot_line.png") no-repeat;
}

.not_accepted_comment {
	/* this will only show on admin viewing */
	border-color: #ffbbbb;
	background-color: #fff8f8;
}





/* COMMENT AVATAR */

.comment .avatar{
	height:50px;
	left:-70px;
	position:absolute;
	width:50px;
	background:url('../img/default_avatar.gif') no-repeat #fcfcfc;
	margin-top:5px;
	-moz-box-shadow:1px 1px 2px #444444;
	-webkit-box-shadow:1px 1px 2px #444444;
	box-shadow:1px 1px 2px #444444;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.comment .avatar a {
	display:block;
	width: 50px;
	height: 50px;
}

.comment .avatar img{
	display:block;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.its_a_reply .avatar{
	left: -120px;
}



/* COMMENT NAME */

.comment .name{
	font-size:20px;
	padding-bottom:10px;
	color:#aaa;
	float: left;
}

.comment .says{
	font-size:14px;
	padding-bottom:10px;
	font-weight: bold;
	margin: 6px 0 0 10px;
	color:#ccc;
	float: left;
}


/* COMMENT BODY */

.comment div.body {
	clear: left;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
	padding: 10px 0 10px 0;
	font-size: 12px;
	line-height:1.2;
}

.comment div.body ul,
.comment div.body ol {
	margin: 20px 0 0 30px;
	line-height:1.2;
}

.comment div.body li {
	margin: 0 0 -5px 0;
}

.comment div.body pre {
	width: 98%;
	padding: 0 0 10px 10px;
	margin: 5px 0 5px 0;
	overflow: auto;
	background: #f0f0f0;
}

.comment div.body blockquote {
	padding: 0 0 10px 10px;
	margin: 5px 0 5px 0;
	background: #f6f6f6;
	font-style: italic;
}




/* COMMENT TOOLS (DATE and BUTTONS) */

.comment .btn_tools {
	margin: 7px 0 -7px 0;
}

.comment .btn_tools .comment_date {
	font-size:10px;
	padding: 5px 0 0 0;
	float: left;
	color:#aaa;
}

.comment .btn_tools .karma {
	font-size:10px;
	padding: 3px 20px 0 0;
	margin: 3px 0 0 10px;
	float: left;
	color:#aaa;
}

.comment .btn_tools .karma_positive {
	background: url("../img/skin1/thumb_up.png") no-repeat right 1px;
	color: #33CC00;
}

.comment .btn_tools .karma_negative {
	background: url("../img/skin1/thumb_dwn.png") no-repeat right 1px;
	color: #aa0000;
}

.comment .btn_tools .vote {
	font-size:10px;
	padding: 2px 0 0 0;
	margin: 2px 0 0 10px;
	float: left;
	color:#aaa;
}

.comment .btn_tools .vote a.vote_up {
	display: block;
	width: 24px;
	height: 16px;
	background: url("../img/skin1/thumb_up.png");
	float: left;
	-moz-box-shadow: 0 0 2px #444444;
	-webkit-box-shadow:1px 1px 2px #444444;
	box-shadow: 0 0 2px #cccccc;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.comment .btn_tools .vote a.vote_up:hover {
	background: url("../img/skin1/thumb_up.png") 0 -16px;
	-moz-box-shadow:1px 1px 2px #444444;
	-webkit-box-shadow:1px 1px 2px #444444;
	box-shadow: 0 0 2px #888888;
}

.comment .btn_tools .vote a.vote_down{
	display: block;
	width: 24px;
	height: 16px;
	background: url("../img/skin1/thumb_dwn.png");
	float: left;
	margin: 0 0 0 4px;
	-moz-box-shadow: 0 0 2px #444444;
	-webkit-box-shadow:1px 1px 2px #444444;
	box-shadow: 0 0 2px #cccccc;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.comment .btn_tools .vote a.vote_down:hover {
	background: url("../img/skin1/thumb_dwn.png") 0 -16px;
	-moz-box-shadow:1px 1px 2px #444444;
	-webkit-box-shadow:1px 1px 2px #444444;
	box-shadow: 0 0 2px #888888;
}

.comment .btn_tools .vote .karma_msg {
	display: block;
	float: left;
	margin: 0 0 0 5px;
}

.comment .btn_tools .vote .karma_msg_success {
	color: green;
}

.comment .btn_tools .vote .karma_msg_error {
	color: red;
}

.comment .btn_tools a.reply_btn,
.comment .btn_tools a.cancel_reply {
	font-size:10px;
	padding:2px 0 0 0;
	height: 16px;
	float: right;
	display: none;
	position: relative;
	top: 5px;
	background: url("../img/skin1/comments_add.png") no-repeat 5px 4px;
	padding: 2px 10px 0 25px;
	-moz-box-shadow: 0 0 2px #444444;
	-webkit-box-shadow:1px 1px 2px #444444;
	box-shadow: 0 0 2px #cccccc;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.comment .btn_tools a.reply_btn:hover, 
.comment .btn_tools a.cancel_reply:hover {
	background: url("../img/skin1/comments_add.png") no-repeat 5px -16px;
	-moz-box-shadow:1px 1px 2px #444444;
	-webkit-box-shadow:1px 1px 2px #444444;
	box-shadow: 0 0 2px #888888;
	text-decoration: none;
}

.comment .btn_tools a.reply_btn,
.comment .remove_btn,
.comment .really_remove_btn, 
.comment .aprove_btn, 
.comment .really_aprove_btn {
	margin: 0 5px 0 5px;
}

.comment .really_remove_btn, 
.comment .really_aprove_btn {
	margin: 0 5px 0 15px;
}
 
.comment .do_not_approve, 
.comment .do_not_remove {
	margin: 0 15px 0 0;
}

a.really_remove_btn,
a.remove_btn {
	color: red;
}

a.really_aprove_btn,
a.aprove_btn {
	color: green;
}

.comment .btn_tools .admin_tools {
	font-size:10px;
	padding:7px 0 0 0;
	height: 15px;
	display: none;
	float: right;
}









/* COMMENT REPLY FORM */

.comment .reply_container {
	display: none;
	position: relative;
	top: 15px;
	background: #efefef;
	overflow: hidden;
	margin: 0 0 15px 0;
}

.comment .reply_container form {
	padding: 10px;
}

.comment .reply_container form input[type=text] {
	width: 110px;
	display:block;
	border:1px solid #ccc;
	margin: 0 0 2px 0;
	height: 12px;
	padding:3px;
	font-size:10px;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
}

.comment .reply_container form textarea {
	width: 98%;
	height: 50px;
	display:block;
	border:1px solid #ccc;
	margin: 0 0 10px 0;
	padding:3px;
	font-size:12px;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
}




.comment .reply_container form input[type=text]:hover,
.comment .reply_container form textarea:hover{
	-moz-box-shadow:1px 1px 2px #444444;
	-webkit-box-shadow:1px 1px 2px #444444;
	box-shadow: 0 0 2px #888888;
}

.comment .reply_container form input[type=text]:focus,
.comment .reply_container form textarea:focus{
	border-color: #888;
}




.comment .reply_container .reply_submit {
	background-color:#58B9EB;
	border:1px solid #40A2D4;
	color:#FFFFFF;
	cursor:pointer;
	font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:0 4px 0 4px;
	margin-top:15px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.comment .reply_container .reply_submit:hover{
	background-color:#80cdf5;
	border-color:#52b1e2;
}

.reply_char_counter {
	display: block;
	font-size: 60px;
	font-weight: bold;
	width: 122px;
	height: 50px;
	position: relative;
	right: -13px;
	bottom: -2px;
	overflow: hidden;
	text-align: right;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	color: #fff;
	float: right;
	clear: both;
}

.commento_captcha_img_repl {
	display: block;
}

.commento_change_image_repl {
	display: block;
	width: 150px;
	font-size: 10px;
}






/* COMMENT FORM */

#addCommentContainer p{
	font-size:12px;
	line-height:1.5;
	overflow-x:hidden;
}

#addCommentContainer input[type=text],
#addCommentContainer textarea{
	display:block;
	border:1px solid #ccc;
	margin:5px 0 5px;
	padding:3px;
	font-size:12px;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
}

#addCommentContainer input[type=text]:hover,
#addCommentContainer textarea:hover{
	-moz-box-shadow:1px 1px 2px #444444;
	-webkit-box-shadow:1px 1px 2px #444444;
	box-shadow: 0 0 2px #888888;
}

#addCommentContainer input[type=text]:focus,
#addCommentContainer textarea:focus{
	border-color: #888;
}

#addCommentContainer textarea{
	width:100%;
}

label{
	font-size:10px;
}

.commento_captcha_img_comm {
	display: block;
}

.commento_change_image_comm {
	display: block;
	width: 150px;
	font-size: 10px;
}

#submit{
	background-color:#58B9EB;
	border:1px solid #40A2D4;
	color:#FFFFFF;
	cursor:pointer;
	font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:4px;
	margin-top:5px;

	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#submit:hover{
	background-color:#80cdf5;
	border-color:#52b1e2;
}



.comment_char_counter {
	display: block;
	font-size: 30px;
	font-weight: bold;
	width: 122px;
	height: 50px;
	position: relative;
	bottom: 9px;
	right: -4px;
	overflow: hidden;
	text-align: right;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	color: #f2f2f2;
	float: right;
	clear: both;
}







/* COMMENTS PAGINATOR */

.commento_paginator {
	margin: 0 0 15px 0;
	padding: 5px;
	border-bottom: 3px solid #ddd;
}

.commento_bottom_paginator {
	border-top: 3px solid #ddd;
	margin: -10px 0 20px 0;
}

.commento_paginator .commento_paginator_title {
	display: block;
	float: left;
	margin: 0 3px 0 3px;
	text-align: center;
	padding: 0 2px 6px 2px;
	font-size: 14px;
	font-weight: bold;
}

.commento_paginator a {
	display: block;
	float: left;
	height: 13px;
	margin: 0 3px 0 3px;
	text-align: center;
	padding: 0 7px 6px 7px;
	font-size: 14px;
	font-weight: bold;
}

.commento_paginator span {
	display: block;
	float: left;
}


.commento_paginator .current, 
.commento_paginator a:hover {
	background: #fff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-box-shadow:2px 2px 0 #c2c2c2;
	-webkit-box-shadow:2px 2px 0 #c2c2c2;
	box-shadow:1px 1px 1px #c2c2c2;
}





/* Various stuff */

label span.error{
	color:red;
	position:relative;
	right:-10px;
}


.commento_clear {
	clear: both;
	height: 0px;
	content: " ";
}


.commento_label {
	float:left;
	clear:both;
	width:140px;
	margin-top:10px;
}

.commento_textinput{

	float:left;
	
}


/* COMMENT HIDE FORM FOR NO JAVASCRIP - IMPORTANT KEEP IT LIKE THIS */

.no_javascript_no_form {
	display: block;
}

.yes_javascript_yes_form {
	display: none;
}
