

/*  help bar */
/*Start slide out box*/
div.developer_box_button {
	height: 45px;
	width: 40px;
	text-align: center;
	vertical-align: middle;
	float: left;
	cursor:help;
}

div.developer_box_wrap {
	width: auto;
	float: left;
	clear: both;
	height: auto;
	position: absolute;
	left: -1px;
	top: 20px;
}


div.developer_box_main {
	height: auto;
	background-color: #EEE;
	float: left;
	border-top-width: thin;
	border-right-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #4D4D4D;
	border-right-color: #4D4D4D;
	border-left-color: #4D4D4D;
}


/* svncommits box */


div.svncommits_box_button {
	height: 45px;
	width: 40px;
	text-align: center;
	vertical-align: middle;
	float: left;
	cursor:help;
	margin-top:50px;
}

div.svncommits_box_wrap {
	width: auto;
	float: left;
	clear: both;
	height: auto;
	position: absolute;
	left: -1px;
	top: 20px;
}


div.svncommits_box_main {
	height: auto;
	background-color: #EEE;
	float: left;
	border-top-width: thin;
	border-right-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #4D4D4D;
	border-right-color: #4D4D4D;
	border-left-color: #4D4D4D;
}



/* dropbox box */


div.dropbox_box_button {
	height: 45px;
	width: 40px;
	text-align: center;
	vertical-align: middle;
	float: left;
	cursor:help;
	margin-top:150px;
}

div.dropbox_box_wrap {
	width: auto;
	float: left;
	clear: both;
	height: auto;
	position: absolute;
	left: -1px;
	top: 20px;
}


div.dropbox_box_main {
	height: auto;
	background-color: #EEE;
	float: left;
	border-top-width: thin;
	border-right-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #4D4D4D;
	border-right-color: #4D4D4D;
	border-left-color: #4D4D4D;
}








/* anroidcheckmark box */


div.androidcheckmark_box_button {
	height: 45px;
	width: 40px;
	text-align: center;
	vertical-align: middle;
	float: left;
	cursor:help;
	margin-top:200px;
}

div.androidcheckmark_box_wrap {
	width: auto;
	float: left;
	clear: both;
	height: auto;
	position: absolute;
	left: -1px;
	top: 20px;
}


div.androidcheckmark_box_main {
	height: auto;
	background-color: #EEE;
	float: left;
	border-top-width: thin;
	border-right-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #4D4D4D;
	border-right-color: #4D4D4D;
	border-left-color: #4D4D4D;
}



/* rssfeeds box */





div.rssfeeds_box_button {
	height: 45px;
	width: 40px;
	text-align: center;
	vertical-align: middle;
	float: left;
	cursor:help;
	margin-top:100px;
}

div.rssfeeds_box_wrap {
	width: auto;
	float: left;
	clear: both;
	height: auto;
	position: absolute;
	left: -1px;
	top: 20px;
}


div.rssfeeds_box_main {
	height: auto;
	background-color: #EEE;
	float: left;
	border-top-width: thin;
	border-right-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #4D4D4D;
	border-right-color: #4D4D4D;
	border-left-color: #4D4D4D;
}


.rss_list li a{

	color: #000000;

}

.rss_list {
	width: 280px;
	overflow: hidden;

}

.rss_list {
	background: #FAFAFA;
	font-size:9px;

}

.rss_entry_date{
	background: #439AB2;
	padding: 4px !important;
}

.rss_entry_date a{
	color: #FFFFFF !important;
	font-weight: bold !important;
	font-size: 12px !important;

	
}


.rss_entry_description{
	background: #DDDDDD;
	font-size:11px;
	padding:4px;

}

.new_object_body{
	background: #FFFFFF;
	font-size:11px;
	padding:2px;

}



.rss_list li p {

	background: #EEEEEE;
	font-size:9px;
}


.feedlist_title{

	width:100%;
	background: #222222;
	color: #EEEEEE;
	font-size: 16px;
	font-weight: bold;
	padding: 5px;

}



